<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="StNicholasHospitalConnString" connectionString="Data Source=(local); Initial Catalog=stnicholas-payment-db; User ID=firstUser; Password=123456" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>