@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section topMenu {
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Staff Members", "Index", "Staff")</li>
        <li>@Html.ActionLink("Patients", "Index", "Patient")</li>
        <li>@Html.ActionLink("New Payment", "Create", "Payment")</li>
    </ul>
}

@RenderBody()