@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";

    //if (!User.Identity.IsAuthenticated) {
    //}
}

@section topMenu {
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("New Staff", "Create", "Staff")</li>
        <li>@Html.ActionLink("New Patient", "Create", "Patient")</li>
        <li>@Html.ActionLink("Patients", "Index", "Patient")</li>
    </ul>
}

@RenderBody()