@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section topMenu {
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("About Us", "AboutUs", "Home")</li>
        <li>@Html.ActionLink("Contact Us", "ContactUs", "Home")</li>
        <li>@Html.ActionLink("Staff Login", "Login", "Home")</li>
    </ul>
}

@RenderBody()